body {
	margin: 0;
	font-family: "Roboto";
	background: #f1f1f1;
}

code {
	font-family: "Roboto";
}

.landing-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 750px;
}

.component-padding {
	padding: 15px;
}

.grid-padding {
	padding: 15px;
}
.sign-in-container {
}

.MuiInput-underline:after {
	border-bottom: solid 2px #888 !important;
}
.MuiInput-underline:before {
	border-bottom: solid 1px #777 !important;
}
.MuiFormLabel-root {
	color: #888 !important;
	font-weight: 550;
}
